<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title> SISTAM CESFAM Mena</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <link rel="stylesheet" tyoe="text/Css" href="../../css/welcome/css/util.css">
  <link rel="stylesheet" tyoe="text/Css" href="../../css/welcome/css/main.css">
  <link rel="stylesheet" type="text/css" href="../../css/welcome/vendor/bootstrap/css/bootstrap.min.css">


</head>

<body ng-app='userControl' ng-controller='maincontrol'>

  <div class="limiter">
    <div class="container-login" style="background-image: url('../pictures/bg-01.jpg');">
      <div class="wrap-login">

        <span class="login-form-title p-b-34 p-t-27">
          Iniciar sesión SISTAM
        </span>

        <form ng-submit="checkUser()">

          <input type="{{inputType}}" placeholder="Put your password" ng-model="user" />

          <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
          <label for="checkbox" ng-if="passwordCheckbox">Ocultar contraseña</label>
          <label for="checkbox" ng-if="!passwordCheckbox">Mostrar contraseña</label>
          <button class="login-form-btn">
              Ingresar
      </button>

        </form>

      </div>
    </div>
  </div>

  <style>
    body {
      margin: 0;
    }
  </style>

  <div id='map'></div>
  <div style="margin-left:50%"></div>

  <!-- ********************* JS SCRIPTS ******************************** -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
    const path = require('path');
  </script>



  <!--************************ Inicio Sesion ********************************-->
  <script src="../../js/main/user_control/ucontrol/control.js"></script>
  <script src="../../js/main/user_control/sesion/sesion_window.js"></script>
  <!--***********************************************************************-->

</body>

</html>
