
.boxmenu {
  margin-left: 5px;
}

.boxmenu h2 {
  width: 240px;
  background: #79C8EF;
  text-align: center;
  font-size: 20px;
  color: #fff
}

.boxmenu ul {
  width: 240px;
  background: #79C8EF;
  list-style: none;
  text-align: left;
  padding: 2px 0px;
}

.menu ul {
  width: 220px;
  margin-left: 10px;
  background: #fff;
  list-style: none;
  text-align: left;
}

.menu li {
  transition-property: border;
  transition-duration: 0.3s;
  outline: 2px solid #79C8EF;
}

.menu ul ul {
  width: 200px;
}

.menu a {
  cursor: pointer;
  display: block;
  padding: 10px 5px;
  color: #2b1f00;
  text-decoration: none;
}

.menu b {
  display: block;
  padding: 10px 5px;
  color: #2b1f00;
  text-decoration: none;
}

.menu ul li a:hover {
  background: #5393b2;
}

.submenu ul li {
  outline: none;
}

input[type=checkbox]+label {
  display: inline;
  cursor: pointer;
}
