/*
.check-boxClear {
  width: 120px;
  height: 70px;
  position: absolute;
  top: 230px;
  left: 5px;
  background: #2b303b;
  border: none;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: justify;
  display: inline-block;
  color: #fff;
  margin: 8px 0;
}
*/

.main5 button.icon {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #ffffff;
  color: #154456;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 1;
  margin-top: -40px;
  right: 10px;
}
.main6 button.icon {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #ffffff;
  color: #154456;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 1;
  margin-top: -40px;
  right: 10px;
}
