.container-search {
  width: auto;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-search input#search {
  width: 110px;
  height: 30px;
  background: #066e96;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-search input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-search input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-search input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-search input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-search input#search:focus, .container-2 input#search:active {
  outline: none;
  width: 300px;
}

.container-search:hover input#search {
  width: 300px;
}
.container-search:hover .icon {
  color: #93a2ad;.container-1:hover button.icon, .container-1:active button.icon, .container-1:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
  .container-searchhover button.icon:hover{
    background: white;
  }
}
.container-search button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #066e96;
  height: 30px;
  width: 30px;
  color: white;
  opacity: 1;
  font-size: 30px;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
